:root {
    --primary-color: #1f2d41;
    --secondary-color: #00cfd5;
}

.bg-primary-color {
    background-color: var(--primary-color);
}
.bg-secondary-color {
    background-color: var(--secondary-color);
}