@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

html {
    scroll-behavior: smooth;
}

/***** Navbar Styles ******/
.nav-link {
    color: lightgray!important;
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
    font-size: 18px;
}

.nav-link:hover {
    color: white!important;
}

#about, #services, #contact {
    scroll-margin-top: 1.5em;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    padding-top: 64px;
}

fieldset.border {
    border: 2px solid #c50c0c!important;
}

iframe.googleMap {
    width: 100%;
    height: 100%;
    border:0;
}

legend {
    font-size: 2.5em;
}


/***** Header Styles ******/
h1.text-block {
        text-align: center;
    font-size: 5em;
    color: rgb(164, 7, 7);
    background-image: url(../images/outreach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 6em;
    padding: 5%;
    text-shadow: 2px 2px rgb(51 13 13);
    background-position: center;
}



/***** Services Section Code ******/
.service-card {
    max-width: 528px;!important;
}


/*****Other Resources Styles*****/
legend#resources {
    font-size: 2em;
}

.logo {
    width: 10%;
    padding-left: 1%;
}

.logo#JamesLogo {
    width: 5%!important;
}



/***** Footer Styles *****/

.link {
    color: #636a71;
    text-decoration: none!important;
}

.link:hover {
    color: lightgray;
    text-decoration: none!important;
}

.copyright-text {
    color: #636a71;
}

.gmap-footer {
    display: block;
    width: 100%;
    height: 250px;
}

footer a.taber {
    font-size: 1.25rem;
    color: white;
    text-decoration: none !important;
}
footer a.taber:hover {
    text-decoration: none!important;
}

/***** Collapsible Footer Styles *****/

footer ul {
    padding:0 0 0;
}

footer ul li,.taber
{
    list-style:none;
    margin-bottom:10px;
}

@media (max-width:768px)
{
    .content {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .top-container {
        padding-bottom: 20px;
    }

    div.col-md-4 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .taber {
        cursor:auto;
    }
    .taber.collapsed:after {
        content: "+";
        float: right;
    }
    .taber:after {
        content: "-";
        float: right;
    }

}




